<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td><%= link_to(book.user) do %>
          <%= image_tag book.user.get_profile_image(50, 50) %>
          <% end %>
        </td>
        <td><%= link_to book.title,book %></td>
        <td><%= book.body %></td>
        <td>
          <% if book.favorited_by?(current_user) %>
            <%= link_to book_favorites_path(book), method: :delete do %>
              <i class="fas fa-heart btn-like"></i>
              <a class="btn-like">
              <%= book.favorites.count %>
              </a>
            <% end %>
          <% else %>
            <%= link_to book_favorites_path(book), method: :post do %>
              <i class="fas fa-heart btn-unlike"></i>
              <a class="btn-unlike">
              <%= book.favorites.count %>
              </a>
            <% end %>
          <% end %>


        </td>
        <td>コメント</td>
      </tr>
    <% end %>
  </tbody>
</table>