<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>Event Mail</h2>
      <%= form_with url: group_event_notices_path(@group) do |f| %>
      <div class="form-group">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :content, "Content" %>
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
        <%= f.submit "é€ä¿¡", class: "from-control btn btn-sm btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
